.consumed-label {
  float: right;
}

form table {
  tr {
    &.even {
      background: #fff;
    }

    td:last-child {
      border: none;
    }

    &.spell-odd {

    }

    &.spell-even {
      background: #f3f4ee;
    }
  }

  td {
    vertical-align: top;

    h2 {
      margin-top: 0;
    }
  }
}